<div>
  <%= form.label :introduction %>
  <%= form.rich_text_area :introduction %>
</div>

<div>
  <%= form.label :notes %>
  <%= form.rich_text_area :notes %>
</div>

<div>
  <%= form.label :construction_overview %>
  <%= form.rich_text_area :construction_overview %>
</div>